<h1>Replies by <%= @user.username %></h1>
<% @replies.each do |reply|  %>

<%= link_to "#{Comment.find(reply.comment_id).body.truncate(70)}", comment_path(id: reply.comment_id, post_id: Comment.find(reply.comment_id).post_id) %>
	<p><%= reply.body.truncate(370) %></p>
	
<% end %>

