<h1>Comments by <%= @user.username %></h1>
<% @comments.each do |comment|  %>


<p><%= link_to "#{Post.find(comment.post_id).headline.truncate(70)}", post_url(comment.post_id) %></p>
<p><%= link_to "#{comment.body.truncate(370)}", comment_path(post_id: comment.post_id) %></p>

<% end %>